:root{
  --colorLight:#ffffff;
  --colorBackgroundLight:#DCE6F0;
  --colorText:#101216;
  --colorBackground:#78C1ED;
  --colorTextLight: #383C49;
  --colorTextLigthLigth: #515564;
  --colorBorderLight:#B3B8BF;
  --colorBackgroundSecondary:#6EB0D8;
  --colorBorder: #6B7A82;
}

html,
body {
  font-size: 16px;
  padding: 0;
  background-color: var(--colorText);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html[scheme='dark-theme'] body{
  --colorLight: #918e8e;
  --colorBackgroundLight:#0d1f31;
  --colorText:#bac4d8;
  --colorBackground:#117abb;
  --colorTextLight: #c1c3cc;
  --colorTextLigthLigth: #515564;
  --colorBorderLight:#B3B8BF;
  --colorBackgroundSecondary:#195b85;
  --colorBorder: #b8d2e0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

